#img{
    height: 450px;
    width: 500px;
    border: 2px solid red;
    margin: auto;
    background-position: center;
    background-size: cover;
    position: relative;
}
#next{
    height: 50px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 200px;
}
#pre{
    height: 50px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 200px;

}